<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>01-egov</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertUserServlet</display-name>
    <servlet-name>InsertUserServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.InsertUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserServlet</servlet-name>
    <url-pattern>/insertUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageQueryUserServlet</display-name>
    <servlet-name>PageQueryUserServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.PageQueryUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageQueryUserServlet</servlet-name>
    <url-pattern>/pageQueryUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageQueryUserServlet2</display-name>
    <servlet-name>PageQueryUserServlet2</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.PageQueryUserServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageQueryUserServlet2</servlet-name>
    <url-pattern>/pageQueryUserServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserServlet</display-name>
    <servlet-name>SelectUserServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.SelectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserServlet</servlet-name>
    <url-pattern>/SelectUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageQueryUserServlet3</display-name>
    <servlet-name>PageQueryUserServlet3</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.PageQueryUserServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageQueryUserServlet3</servlet-name>
    <url-pattern>/pageQueryUserServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsercodeServlet</display-name>
    <servlet-name>CheckUsercodeServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.CheckUsercodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsercodeServlet</servlet-name>
    <url-pattern>/checkUsercodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOutServlet</display-name>
    <servlet-name>GetOutServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.GetOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOutServlet</servlet-name>
    <url-pattern>/getOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavaInvestInfoServlet</display-name>
    <servlet-name>SavaInvestInfoServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.SavaInvestInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavaInvestInfoServlet</servlet-name>
    <url-pattern>/savaInvestInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageQueryInvestServlet</display-name>
    <servlet-name>PageQueryInvestServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.PageQueryInvestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageQueryInvestServlet</servlet-name>
    <url-pattern>/pageQueryInvestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewInvestServlet</display-name>
    <servlet-name>ViewInvestServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.ViewInvestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInvestServlet</servlet-name>
    <url-pattern>/viewInvestServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.bjpowernode.egov.filters.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CheckLoginFilter</display-name>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>com.bjpowernode.egov.filters.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOrgcodeServlet</display-name>
    <servlet-name>CheckOrgcodeServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.CheckOrgcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOrgcodeServlet</servlet-name>
    <url-pattern>/checkOrgcodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParentChildCommunicationServlet</display-name>
    <servlet-name>ParentChildCommunicationServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.ParentChildCommunicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentChildCommunicationServlet</servlet-name>
    <url-pattern>/parentChildCommunicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEnvServlet</display-name>
    <servlet-name>InsertEnvServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.InsertEnvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEnvServlet</servlet-name>
    <url-pattern>/insertEnvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageQueryEnServlet</display-name>
    <servlet-name>PageQueryEnServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.PageQueryEnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageQueryEnServlet</servlet-name>
    <url-pattern>/pageQueryEnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectEnDetailServlet</display-name>
    <servlet-name>SelectEnDetailServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.SelectEnDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEnDetailServlet</servlet-name>
    <url-pattern>/selectEnDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAuthServlet</display-name>
    <servlet-name>SaveAuthServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.SaveAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAuthServlet</servlet-name>
    <url-pattern>/saveAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthViewServlet</display-name>
    <servlet-name>AuthViewServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.AuthViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthViewServlet</servlet-name>
    <url-pattern>/authViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.bjpowernode.egov.system.servlets.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/feedbackServlet</url-pattern>
  </servlet-mapping>
</web-app>